<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory >
  <property name="hibernate.connection.driver_class">org.h2.Driver</property>
  <property name="hibernate.connection.url">jdbc:h2:tcp://localhost/~/test</property>
  <property name="hibernate.connection.username">sa</property>
  <mapping class="udemy_hibernate.entity.OwnerWithCompositePK"/>
  <mapping class="udemy_hibernate.entity.Pet"/>
  <mapping class="udemy_hibernate.entity.Owner"/>
   <mapping class="udemy_hibernate.entity.Vet"/>
   <mapping class="udemy_hibernate.entity.Visit"/>
   <mapping class="udemy_hibernate.entity.Image"/>
   <mapping class="udemy_hibernate.entity.ImageContent"/>
    <mapping class="udemy_hibernate.entity.City"/>
   <mapping class="udemy_hibernate.entity.PetType"/>
   <mapping class="udemy_hibernate.entity.Clinic"/>
   <mapping class="udemy_hibernate.entity.Specialty"/>
   <mapping class="udemy_hibernate.entity.Person"/>
   <event type= "post-insert">
   	<listener class="udemy_hibernate.event.AuditEntityInsertListener"/>  
   </event>
   <event type= "post-update">
   	<listener class="udemy_hibernate.event.AuditEntityUpdateListener"/>  
   </event>
   <event type= "post-delete">
   	<listener class="udemy_hibernate.event.AuditEntityDeleteListener"/>  
   </event>
   
 </session-factory>
</hibernate-configuration>
